<div>
	{% for k, v in pairs(items) do %}
		<div class="store-line">
			<div class="items">
				<span class="toy">Toy: {{v["toy_name"]}}</span><br>
				<span class="cost">Cost: {{v["cost"]}}$</span>
			</div>
			<div class="signs">
				<span class="plus">+</span>
				<span class="minus">-</span>
			</div>
		</div>

	{% end %}
</div>